@import "_variables.scss";
@import "_config.scss";
@import "_fonts.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  padding-top: 50px;
  font-size: 1.6rem;
  height: 100vh;
  background-color: #181a1b;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 5rem;
  color: white;
}

.txt-animation {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.carousel {
  margin-top: calc(100vh / 5);
  perspective: $viewer-distance;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: 1.3;

  > * {
    flex: 0 0 auto;
  }

  figure {
    width: $item-width;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% (-$apothem);

    a:not(:first-of-type) {
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: 50% 50% (-$apothem);

      @for $i from 2 through $n {
        &:nth-child(#{$i}) {
          transform: rotateY(#{($i - 1) * $theta}rad);
        }
      }
    }

    img {
      width: 100%;
      height: 200px;
      box-sizing: border-box;
      padding: 0 $item-separation / 2;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;

    button {
      flex: 0 0 auto;
      margin: 0 5px;

      cursor: pointer;

      color: #c7c3be;
      background: none;
      border: 1px solid;
      letter-spacing: 1px;
      padding: 5px 10px;

      &:hover {
        transition: background-color 500ms ease-out;
        background-color: #726e6e;
        color: white;
      }
    }
  }
}
